<!-- vim: set ts=2 sw=2 sts=2 et ft=htmldjango: -->
{% extends 'main/base.html' %}
{% load format %}
{% block body %}
  <style>
    .transaction:hover {
      background-color: #ddd;
    }
  </style>
  <h1>All transactions for this month</h1>
  <h2>{{ date |date:"F, Y" }}</h1>
  <button id='month-btn'>contract</button>
  <button id='back'>&lt;--</button>
  <button id='forward'>--&gt;</button>
  {% if transactions %}
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Memo</th>
          <th>Amount</th>
          <th>Obs</th>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}
          <tr class='transaction'>
            <td class='id' style='display: none;'>{{ t.id }}</td>
            <td>{{ t.date|date:"d/m/Y" }}</td>
            <td class='memo'>{{ t.memo   }}</td>
            <td>{{ t.amount }}</td>
            <td class='obs'>{{ t.obs }}</td>
          </tr>
        {% endfor %}
        <tr class='total'>
          <td></td>
          <td>TOTAL</td>
          <td>{{ total }}</td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p>No data!</p>
  {% endif %}
  <script>
    $('#month-btn').on('click', function(e){
        location.href = '/?date={{ date|date:"Y-m-d" }}';
    });

    $('#back').on('click', function(e){
        {% if memo %}
            location.href = '?date={{ date_prev|date:"Y-m-d" }}&memo=' + '{{ memo }}';
        {% else %}
            location.href = '?date={{ date_prev|date:"Y-m-d" }}';
        {% endif %}
    });

    $('#forward').on('click', function(e){
        {% if memo %}
            location.href = '?date={{ date_next|date:"Y-m-d" }}&memo=' + '{{ memo }}'; 
        {% else %}
            location.href = '?date={{ date_next|date:"Y-m-d" }}';
        {% endif %}
    });

    $('.transaction .memo').on('click', function(e) {
        $memo = $(e.target);
        location.href = '/memo?date={{ date|date:"Y-m-d"}}&memo=' + $memo.html();
    });

    $('.obs').on('click', function(e) {
        $td = $(e.target);
        id = $td.siblings('.id').eq(0).html()
        console.log(id);
        $form = $('<form action="/updateobs" method="POST">' +
                    "{% csrf_token %}" +
                    '<input type="hidden" name="id" value="'+id+'">' +
                    '<input type="hidden" name="date" value="'+"{{ date|date:'Y-m-d' }}"+'">' +
                    '<input type="hidden" name="next" value="full">' +
                    '<input type="text" name="obs" value="' + $td.html() + '">' + 
                  '</form>');
        $td.html($form);
        $td.off('click');
    });
  </script>
{% endblock body %}
