<!-- vim: set ts=2 sw=2 sts=2 et ft=htmldjango: -->
{% extends 'main/base.html' %}
{% block body %}
  <style>
    .transaction:hover {
      background-color: #ddd;
    }
  </style>
  <form action="{% url 'makemerich.main:filldb' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit" />
  </form>
  <h1>{{ date |date:"F, Y" }}</h1>
  {% if memo %}
    <button id='month-btn'>month</button>
  {% endif %}
  <button id='full' 
          onclick='location.href = "/full?date={{ date |date:'Y-m-d' }}"'>expand</button>
  <button id='recurrent'>recurrent</button>
  <button id='back'>&lt;--</button>
  <button id='forward'>--&gt;</button>
  {% if transactions %}
    <table>
      <thead>
        <tr>
          <td>Memo</td><td>Amount</td>
        </tr>
      </thead>
      <tbody>
        <tr><td>TOTAL</td><td>{{ total }}</td></tr>
        <tr><td>TOTAL IN</td><td>{{ total_in }}</td></tr>
        <tr><td>TOTAL OUT</td><td>{{ total_out }}</td></tr>
        <tr><td></td><td></td></tr>
        {% for t in transactions %}
          <tr class='transaction'>
            <td class='memo'>{{ t.memo }}</td><td>{{ t.amount}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No data!</p>
  {% endif %}
  <script>
    $('#month-btn').on('click', function(e){
        location.href = '?date={{ date|date:"Y-m-d" }}';
    });

    $('#recurrent').on('click', function(e) {
        location.href = '/recurrent?date={{ date|date:"Y-m-d" }}';
    });

    $('#back').on('click', function(e){
        location.href = '?date={{ date_prev|date:"Y-m-d" }}';
    });

    $('#forward').on('click', function(e){
        location.href = '?date={{ date_next|date:"Y-m-d" }}';
    });

    $('.transaction .memo').on('click', function(e) {
        $memo = $(e.target);
        location.href = '/memo?date={{ date|date:"Y-m-d"}}&memo=' + $memo.html();
    });

  </script>
{% endblock body %}
