<!-- vim: set ts=2 sw=2 sts=2 et ft=htmldjango: -->
{% extends 'main/base.html' %}
{% block body %}
  <style>
    .transaction:hover {
      background-color: #ddd;
    }
  </style>
  <h1>{{ date |date:"F, Y" }} -- {{ memo }}</h1>
  {% if memo %}
    <button id='month-btn'>month</button>
  {% endif %}
  <button id='full' 
          onclick='location.href = "/full?date={{ date |date:'Y-m-d' }}"'>expand</button>
  <button id='recurrent'>recurrent</button>
  <button id='back'>&lt;--</button>
  <button id='forward'>--&gt;</button>
  {% if transactions %}
    <table>
      <thead>
        <tr>
          <td>Date</td><td>Memo</td><td>Amount</td><td>Objs</td>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}
          <tr class='transaction'>
            <td style='display: none' class='id'>{{ t.id }}</td>
            <td>{{ t.date|date:"d/m/Y" }}</td>
            <td class='memo'>{{ t.memo }}</td>
            <td>{{ t.amount }}</td>
            <td class='obs'>{{ t.obs }}</td>
          </tr>
        {% endfor %}
        <tr class='total'>
          <td></td><td>TOTAL</td><td>{{ total.total }}</td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p>No data!</p>
  {% endif %}
  <script>
    $('#month-btn').on('click', function(e){
        location.href = '/?date={{ date|date:"Y-m-d" }}';
    });

    $('#recurrent').on('click', function(e) {
        location.href = '/recurrent?date={{ date|date:"Y-m-d" }}';
    });

    $('#back').on('click', function(e){
        location.href = '/memo?date={{ date_prev|date:"Y-m-d" }}&memo={{ memo }}';
    });

    $('#forward').on('click', function(e){
        location.href = '/memo?date={{ date_next|date:"Y-m-d" }}&memo={{ memo }}';
    });

    $('.obs').on('click', function(e) {
        $td = $(e.target);
        id = $td.siblings('.id').eq(0).html()
        console.log(id);
        $form = $('<form action="/updateobs" method="POST">' +
                    "{% csrf_token %}" +
                    '<input type="hidden" name="id" value="'+id+'">' +
                    '<input type="hidden" name="next" value="memo">' +
                    '<input type="hidden" name="date" value="'+"{{ date|date:'Y-m-d' }}"+'">' +
                    '<input type="text" name="obs" value="' + $td.html() + '">' + 
                  '</form>');
        $td.html($form);
        $td.off('click');
    });

  </script>
{% endblock body %}
