<!-- vim: set ts=2 sw=2 sts=2 et ft=htmldjango: -->
{% extends 'main/base.html' %}
{% load format %}
{% block body %}
  <style>
    .transaction:hover {
      background-color: #ddd;
    }
  </style>
  <h1>Recurring negative transactions for the last 3 months</h1>
  <h2>{{ date |date:"F, Y" }}</h1>
  <button id='month-btn'>month</button>
  <button id='back'>&lt;--</button>
  <button id='forward'>--&gt;</button>
  {% if transactions %}
    <table>
      <thead>
        <tr>
          <th>MEMO</th><th>Max</th><th>Average</th><th>Min</th><th colspan='{{ history_length }}'>History</th>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}
          <tr class='transaction'>
            <td class='memo'>{{ t.memo }}</td>
            <td>{{ t.tmin|format:"{:0.2f}" }}</td>
            <td>{{ t.tavg|format:"{:0.2f}" }}</td>
            <td>{{ t.tmax|format:"{:0.2f}" }}</td>
            {% for h in t.history %}
              <td>{{ h }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr class='total'>
          <td>TOTAL</td>
          <td>{{ total_min|format:"{:0.2f}" }}</td>
          <td>{{ total_avg|format:"{:0.2f}" }}</td>
          <td>{{ total_max|format:"{:0.2f}" }}</td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p>No data!</p>
  {% endif %}
  <script>
    $('#month-btn').on('click', function(e){
        location.href = '/?date={{ date|date:"Y-m-d" }}';
    });

    $('#back').on('click', function(e){
        location.href = '?date={{ date_prev|date:"Y-m-d" }}';
    });

    $('#forward').on('click', function(e){
        location.href = '?date={{ date_next|date:"Y-m-d" }}';
    });

    $('.transaction .memo').on('click', function(e) {
        $memo = $(e.target);
        location.href = '/memo?date={{ date|date:"Y-m-d"}}&memo=' + $memo.html();
    });
  </script>
{% endblock body %}
